{{ define "main" }}
    <div class="home">
        {{ .Content }}
        {{ $posts := (where .Site.RegularPages "Type" "==" "post") }}
        {{ $postCount := len $posts }}
        Currently: <b>{{ $postCount }}</b> devNotes.

        <hr>

        {{ range .Data.Pages.GroupBy "Section" "title"}}
            {{ $pages := where .Pages "Type" "post"}}
            {{ if len $pages }}
                <h2>{{ .Key }}</h2>
                <ul>
                    {{ range $pages.ByTitle }}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a><i><small>, {{ dateFormat "Jan, 2006" .Date }} | {{ .Params.Post_type }}</small></i>
                    </li>
                    {{ end }}
                </ul>
            {{ end }}
        {{ end }}
    </div>
{{ end }}