@import "vendor/highlight-theme";

$black: #3f3f3f;
$primary: #EDAD1E;
$white: #ffffff;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: Sans-Serif;
  color: $black;
  display: flex;
  justify-content: center;
  background-color: $white;
  line-height: 1.5;
}

.page-wrapper {
  max-width: 750px;
  width: 100%;
  padding: 1rem;
}

div.highlight {
  max-width: 100%;
  overflow-x: auto;
  background-color: #2b2b2b; //To fit highlight theme for now
  padding-left: 1rem;
  padding-right: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

p code, li code {
  background-color: lighten($primary, 40%);
}

a {
  color: $primary;
}

blockquote{
  font-style: italic;
  border-left: 6px solid $primary;
  margin-left: 0;
  padding-left: 1rem;
}

hr {
  border: 0;
  height: 1px;
  background-color: lighten($black, 40%);
}

table {
  max-width: 100%;
  margin-bottom: 1rem;

  td, th {
    padding: 0.5rem;
  }

  tbody{
    tr {
      &:nth-child(even) {
        background: lighten($black, 70);
    }
    }
  }
}

table, th, td {
  border: 1px solid lighten($black, 40%);
  border-collapse: collapse;
}

.post-header {
  .post-meta {
    font-style: italic;
    font-size: 0.8rem;
  }
}

.page-header {
  .site-title {
    font-size: 1.5rem;
    color: $black;
    text-decoration: none;
    font-weight: bold;
  }

  border-bottom: 1px solid lighten($black, 40%);
}

footer {
  text-align: center;
  border-top: 1px solid lighten($black, 40%);
  margin-top: 2rem;
  .links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > li {
      padding-right: 1rem;
      padding-bottom: 0.5rem;

      &:after {
        content: "|";
        padding-left: 1rem;
      }

      &:nth-last-child(-n + 1) {
        padding-right: 0;
        &:after {
          display: none;
        }
      }
    }
  }
}

.home {
  h2 {
    margin-bottom: 0;
    font-size: 1.3rem;
  }

  ul {
    margin-top: 0;
  }
}