@import "vendor/normalize";
@import "vendor/highlight-theme";

:root {
  --color-black: hsl(0, 0%, 17%);
  --color-black--lighten: hsl(0, 0%, 50%);
  --color-primary: hsl(41, 85%, 52%);
  --color-primary--lighten: hsl(41, 85%, 85%);
  --color-white: hsl(0, 0%, 100%);
  --color-white--darken: hsl(0, 0%, 95%);
}

[data-theme="theme-default"] {
  [data-toggle-theme="theme-default"]{
    display: none;
  }
}

[data-theme="theme-dark"] {
  --color-black: hsl(0, 0%, 100%);
  --color-white: hsl(0, 0%, 20%);
  --color-white--darken: hsl(0, 0%, 25%);
  --color-primary--lighten: hsl(41, 85%, 40%);

  [data-toggle-theme="theme-dark"]{
    display: none;
  }
}

$black: var(--color-black);
  $black-lighten: var(--color-black--lighten);
$primary: var(--color-primary);
  $primary-lighten: var(--color-primary--lighten);
$white: var(--color-white);
  $white-darken: var(--color-white--darken);

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: Sans-Serif;
  color: $black;
  display: flex;
  justify-content: center;
  background-color: $white;
  line-height: 1.5;
}

.page-wrapper {
  max-width: 750px;
  width: 100%;
  padding: 1rem;
}

div.highlight {
  max-width: 100%;
  overflow-x: auto;
  background-color: hsl(0, 0%, 17%); //To fit highlight theme for now
  padding-left: 1rem;
  padding-right: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

p code, li code, table code {
  background-color: $primary-lighten;
  padding: 0 0.2rem;
}

a {
  color: $primary;
}

button {
  background-color: $primary;
  padding: 0.5rem 1rem;
  border: 0;
  cursor: pointer;
}

blockquote{
  font-style: italic;
  border-left: 6px solid $primary;
  margin-left: 0;
  padding-left: 1rem;
}

hr {
  border: 0;
  height: 1px;
  background-color: $black-lighten;
}

table {
  max-width: 100%;
  margin-bottom: 1rem;

  td, th {
    padding: 0.5rem;
  }

  tbody{
    tr {
      &:nth-child(even) {
        background: $white-darken;
    }
    }
  }
}

table, th, td {
  border: 1px solid $black-lighten;
  border-collapse: collapse;
}

.post-header {
  .post-meta {
    font-style: italic;
    font-size: 0.8rem;
  }
}

.page-header {
  .site-title {
    font-size: 1.5rem;
    color: $black;
    text-decoration: none;
    font-weight: bold;
  }

  border-bottom: 1px solid $black-lighten;
}

footer {
  text-align: center;
  border-top: 1px solid $black-lighten;
  margin-top: 2rem;
  .links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > li {
      padding-right: 1rem;
      padding-bottom: 0.5rem;

      &:after {
        content: "|";
        padding-left: 1rem;
      }

      &:nth-last-child(-n + 1) {
        padding-right: 0;
        &:after {
          display: none;
        }
      }
    }
  }
}

.home {
  h2 {
    margin-bottom: 0;
    font-size: 1.3rem;
  }

  ul {
    margin-top: 0;
  }
}