<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

<body>
  <div class="page-wrapper">
    <header class="page-header">
      <p>
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </p>
    </header>
    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>
    <footer>
      <p>Hello world, I'm Vince 😃 Lead Front End Developer <a href="https://www.damdigital.com/">@ DAM Digital 🚀</a></p>
      <p>🌍 London, UK</p>
      <ul class="links">
        <li><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
        <li><a href="https://vincent-humeau.com/">vincent-humeau.com</a></li>
        <li><a href="https://github.com/vinceumo/devNotes">Check this project on github</a></li>
      </ul>
      <button class="toggle-theme" data-toggle-theme="theme-dark">Dark theme</button>
      <button class="toggle-theme" data-toggle-theme="theme-default">Light theme</button>
    </footer>
  </div>
  <script src="{{ site.baseurl }}/dist/js/scriptsBundleMain.js"></script>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('{{ site.baseurl }}/sw.js');
      });
    }
  </script>
  <script src="https://cdn.jsdelivr.net/gh/ireade/caniuse-embed/caniuse-embed.min.js"></script>
</body>

</html>