---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign sorted_cats = site.categories | sort %} {% for category in
  sorted_cats %} {% assign sorted_posts = category[1] | sort: 'title' %}
  <h2 id="{{ category[0] | uri_escape | downcase }}">
    {{ category[0] }}
  </h2>
  <ul class="list-unstyled">
    {% for post in sorted_posts %} {%- assign date_format =
    site.minima.date_format | default: "%b %Y"-%}
    <li class="{{ post.post_type }}">
      <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{
        post.title
      }}</a
      ><i
        ><small>, {{ post.date | date: date_format }}</small></i
      >
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
